@tailwind preflight;
@tailwind components;
@tailwind utilities;

html {
  font-family: config('fonts.primary');
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(243, 243, 243);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgOTQ5Ljg3NWMxLjE1NCAwIDI3LjYxNy0xNzguOTA2IDI3MC40ODQtMjEwLjQ2IDI0Mi44NjgtMzEuNTU2IDIyNS43NjYtMTAzLjgzIDMwMy44Ni0xODcuNDkzIDc4LjA5My04My42NjQgMTc1LjY5NS0xNTguNTQgNDMwLjQ2OC0xMjkuNTQgMjU0Ljc3NCAyOSAzNzUuNjk2IDcuNTA5IDQzNS4xODgtMTA0LjA3MS0uMjE1IDAgMC0zMTguMzExIDAtMzE4LjMxMUgwcy4zMzYgOTQ5Ljg3NSAwIDk0OS44NzV6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-size: 100%;
  background-position: 0 -75px;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
}
